.all_box{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #ff0000;
}
.btn li{
	width: 200px;
	height: 60px;
	list-style: none;
	text-align: center;
	margin: 20px 0;
}

.btn li a{
	text-decoration: none;
}

h1{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}
.btn li a .btn1{
	color: #fff;
	font-weight: bold;
	background: #000;
	border: 1px solid #ff0000;
	width:200px;
	height:60px;
}
.btn li a .btn1_style{
	color: #fff;
	font-weight: bold;
	background: #ff0000;
	border: 1px solid #ff0000;
	width:200px;
	height:60px;
}
.btn li a .btn2{
	color: #fff;
	font-weight: bold;
	background: #000;
	border: 1px solid #ff0000;
	width:200px;
	height:60px;
}
.btn li .box{
	background: #3045ff;
	border: 1px solid #ff0000;
	width:200px;
	height:60px;
}
.btn li a .btn3{
	color: #fff;
	font-weight: bold;
	background: #000;
	border: 1px solid #ff0000;
	width:200px;
	height:60px;
}
.btn li a .btn4{
	color: #fff;
	font-weight: bold;
	background: #000;
	border: 1px solid #ff0000;
	width:200px;
	height:60px;
}
.hidden{
	display: none;
}